<nav>
  <div class="site-title">
    <a href="/"><h1>Inventory Documents</h1></a>
    <p>Inventory system that stores and manages documents.</p>
  </div>
  <ul>
    <li><a href="/documents">Documents</a></li>
    <li><a href="/documents/create">Create</a></li>
    <!--<li><a href="/documents/login">Login</a></li>-->
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
